*/target/*
virgo.ipr
*/target
target/*
virgo.iws
logs/
projectFilesBackup/
.idea/
*.iml
*/*.iml
*.class
*.DS_Store
**/document.html
**/swagger.json
*.log
virgo-app/*.log
**/.rebel.xml.bak
**/rebel.xml
**/.rebel-remote.xml.bak